Source: ea-nginx-passenger
Section: EA4
Priority: optional
Maintainer: cPanel
Homepage: https://www.phusionpassenger.com

Package: ea-nginx-passenger
Architecture: any
Depends: ea-nginx, ea-passenger-run
Description: Provides passenger module for ea-nginx
 This module wraps lots of Nginx internal APIs for streaming input and output, parallel/sequential subrequests, timers and sleeping, as well as various meta data accessing.
 Basically it provides various utilities that help testing and debugging of other modules by trivially emulating different kinds of faked subrequest locations.

